@font-face{font-family:SinkinSans;src:url(/SinkinSans-400Regular.816a2264.otf)}@font-face{font-family:SinkinSans;src:url(/SinkinSans-500Medium.325709d5.otf);font-weight:500}body{font-family:SinkinSans,sans-serif}
/*# sourceMappingURL=/styles.31e6a07c.css.map */